<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:couchbase="http://www.springframework.org/schema/data/couchbase"
	xmlns:data-repository="http://www.springframework.org/schema/data/repository"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/data/couchbase
    http://www.springframework.org/schema/data/couchbase/spring-couchbase.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://cxf.apache.org/jaxrs 
	http://cxf.apache.org/schemas/jaxrs.xsd ">


	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<couchbase:cluster>
		<couchbase:node>127.0.0.1</couchbase:node>
	</couchbase:cluster>

	<!-- This is needed to probe the server for N1QL support -->
	<!-- Can be either cluster credentials or a bucket credentials -->
	<couchbase:clusterInfo login="turnon" password="turnon" />

	<bean id="couchbaseEnv"
		class="com.couchbase.client.java.env.DefaultCouchbaseEnvironment"
		factory-method="create" />
	<bean id="myCustomTranslationService"
		class="org.springframework.data.couchbase.core.convert.translation.JacksonTranslationService" />

	<couchbase:indexManager />

	<couchbase:repositories base-package="com.turnon.core.repo" />

	<couchbase:template translation-service-ref="myCustomTranslationService" />

	<couchbase:bucket bucketName="default" />

	<mvc:annotation-driven />
	<context:component-scan base-package="com.turnon.*" />

	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
	<mvc:resources mapping="/webjars/**"
		location="classpath:/META-INF/resources/webjars/" />
	<!-- <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" 
		/> <bean id="userController" class="com.turnon.web.controller.UsersController" 
		/> -->
	<!-- <couchbase:cluster> <couchbase:node>127.0.0.1</couchbase:node> </couchbase:cluster> 
		This is needed to probe the server for N1QL support Can be either cluster 
		credentials or a bucket credentials <couchbase:clusterInfo login="Administrator" 
		password="turnon" /> <bean id="couchbaseEnv" class="com.couchbase.client.java.env.DefaultCouchbaseEnvironment" 
		factory-method="create" /> <bean id="myCustomTranslationService" class="org.springframework.data.couchbase.core.convert.translation.JacksonTranslationService" 
		/> <couchbase:indexManager /> <couchbase:template translation-service-ref="myCustomTranslationService" 
		/> <couchbase:bucket bucketName="turnon" bucketPassword="turnon" /> -->

	<jaxrs:server id="turnOn" address="/v1">
		<jaxrs:providers>
			<ref bean="jsonProvider" />
		</jaxrs:providers>

		<jaxrs:serviceBeans>
			<ref bean="doctorController" />
			<ref bean="userController" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml;charset=UTF-8" />
			<entry key="json" value="application/json;charset=UTF-8" />
		</jaxrs:extensionMappings>
	</jaxrs:server>

	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
	<bean id="doctorController" class="com.turnon.web.controller.DoctorController" />
	<bean id="userController" class="com.turnon.web.controller.UserController" />


</beans>